.container{
    padding: 16px 0;
}

.section-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 0px;
    box-sizing: border-box;
    border-radius: 81px;
    padding: 0 25px;
    height:84px ;
}