:host ::ng-deep{
    .mat-mdc-card-content {
        padding: 16px;
    }
}
.cardElement {
    margin: 16px 0;
    width:100%;
}
.card-header-image {
    background-size: cover;
}
.wrapper {
    display: flex;
    padding: 20px;
    justify-content: center;
}
  
.wrapper-overflow {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    
    // Use for lines tipe paraphre text <p>
    // line-height:1.5em;  
    // min-height:4.5em;

    // Use for lines tipe objects <chips>
    line-height:2em;
    min-height:8em;
}

.wrapper-title {
    max-width: 400px;
}

.wrapper-title-overflow {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.button-artist{
    margin: 6px;
}