<div class="container">
    <div class="row">
        <div class="col-lg-2 col-sm-12">
          <div class="artist-header-img">
            <img class="avatar" [src]="artist.images | noimage">
          </div>         
        </div>
        <div class="col-lg-10 col-sm-12">
          <div class="content-artist-description">
            <div class="artist-header-genre">
              <button *ngFor="let genre of artist.genres" class="button-primary">
                <div class="button-content">
                  <span>{{genre | titlecase}}</span>
                </div>
              </button>
            </div>
            <div class="artist-header-info">
              <button class="button-primary">
                <div class="button-content">
                  <mat-icon matChipAvatar class="icon-display">person_pin</mat-icon>
                  <span>{{artist.followers.total}}</span>
                </div>
              </button>
            </div>
            <div class="artist-header-info">
              <button class="button-primary">
                <div class="button-content">
                  <mat-icon matChipAvatar class="icon-display">stars</mat-icon>
                  <span>{{artist.popularity}}</span>
                </div>
              </button>
            </div> 
          </div>
        </div>
    </div>
</div>