<div class="container">
    <div class="row">
        <div class="col-lg-2 col-sm-12">
          <div class="artist-header-img">
            <img class="avatar" [src]="artist.images | noimage">
          </div>         
        </div>
        <div class="col-lg-10 col-sm-12">
          <div class="content-artist-description">
            <div class="artist-header-genre">
              <button *ngFor="let genre of artist.genres" class="button-primary">
                <mat-chip> {{genre | titlecase}} </mat-chip>
              </button>
            </div>
            <div class="artist-header-info">
              <button class="button-primary">
                <mat-chip>
                  <mat-icon matChipAvatar class="icon-display">person_pin</mat-icon>
                  {{artist.followers.total}}
                </mat-chip>
              </button>
            </div>
            <div class="artist-header-info">
              <button class="button-primary">
                <mat-chip>
                  <mat-icon matChipAvatar class="icon-display">stars</mat-icon>
                  {{artist.popularity}}
                </mat-chip>
              </button>
            </div> 
          </div>
        </div>
    </div>
</div>