<section *ngIf="artist">
  <app-artist-header [artist]="artist"></app-artist-header>
  <div class="container">
    <div class="row g-5">
      <div class="d-xl-block d-lg-block d-md-block d-sm-none d-xs-none d-none">
        <div class="container-generic-table">
          <app-generic-table [tableDataSource]="tracks" [displayedColumns]="displayedColumns"></app-generic-table>
        </div>
      </div>
      <div class="d-sm-block d-block d-xl-none d-lg-none d-md-none">
        <app-artist-track-card *ngFor="let track of tracks" [track]="track"></app-artist-track-card>   
      </div>
    </div>
  </div>
</section>
