@import "../../../sass/varialbe";

.container-mobile-track{
    display: flex;
    justify-content: center;
}

.container-generic-table{
    margin-top: 24px;
}

:host ::ng-deep .mat-column-photo{
    flex: 0.2;
}

:host ::ng-deep .mat-column-album{
    flex: 0.3;
}

:host ::ng-deep .mat-column-song{
    flex: 0.3;
}

@media only screen and (min-width: $media-breakpoint-lg) {    
    
    :host ::ng-deep .mat-column-song{
        flex: 1;
    }
    :host ::ng-deep .mat-column-album{
        flex: .5;
    }
}
