<mat-card class="cardElement">
    <mat-card-header class="wrapper-title">
        <div mat-card-avatar class="card-header-image" [ngStyle]="{'background-image':'url('+track.album.images[2].url+')'}"></div>
        <mat-card-title class="wrapper-title-overflow">{{track.album.name}}</mat-card-title>
        <mat-card-subtitle class="wrapper-title-overflow">{{track.name}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="wrapper">
        <iframe [src]="track.uri | domseguro" width="300px" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe> 
    </mat-card-content>
</mat-card>
